.footer {
    width: 100%;
    background-color: rgb(248, 234, 217);
    padding: 20px;
    text-align: center;
    color: #555;
    position: fixed;
    bottom: 0;
    left: 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
  }
  
  .footer a {
    text-decoration: none;
    color: #555;
    margin-left: 10px;
  }
  
  .footer a:hover {
    color: #000;
  }
  